.NoticeSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navIcon {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.navIcon>svg {
    font-size: 2rem;
}

.Post-btn {
    color: #fff;
    background: var(--buttonBg);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    transition: all 0.5s ease-out;
}

.Post-btn:hover {
    color: #e600ff;
    background: #f3f3f3;
    border: 1px solid #e600ff;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}